@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "NokiaPureText";
  src: url("/fonts/NokiaPureText_Rg.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "NokiaPureText";
  src: url("/fonts/NokiaPureText_Lt.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NokiaPureText";
  src: url("/fonts/NokiaPureText_Rg.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NokiaPureText";
  src: url("/fonts/NokiaPureText_Md.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NokiaPureText";
  src: url("/fonts/NokiaPureText_Bd.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-nunito: 'Nunito', sans-serif;
  --font-fira: 'Fira Code', monospace;
  --font-nokia: 'NokiaPureText', sans-serif;
  --default-font-family: 'NokiaPureText', sans-serif;
}

@layer utilities {
  :global(html) {
    scroll-behavior: smooth;
  }

  .has-header-img {
    background: url(/images/background.webp) center center;
    background-size: cover;
  }

  .dropdown:hover .dropdown-content {display: block;}

  .scroll-light::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  .scroll-light::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .scroll-light::-webkit-scrollbar-thumb {
    background: #bec4c4;
  }

  .scroll-light::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .dark\:scroll-dark::-webkit-scrollbar {
    width: 2px;
    height: 2px; 
  }

  .dark\:scroll-dark::-webkit-scrollbar-track {
    background: rgb(55 65 81);
  }

  .dark\:scroll-dark::-webkit-scrollbar-thumb {
    background: rgb(109, 109, 109);
  }

  .dark\:scroll-dark::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

